
{{#each states}}

<div >
    <div class="col s12 m5">
      <div class="card-panel teal accent-4">
      <a href={{_id}}> <h4 class="white-text">{{name}}</h4> </a>
      </div>
    </div>
  </div>

{{/each}}
