<form action="/{{stateId}}/{{spotId}}/comment" method="POST">
    <input type="text" name="author" placeholder="Name" value="">
    <input type="text" name="content" placeholder="Comment" value="">
    <button class="btn" type="submit">Post</button>
</form>