<form action="/{{stateId}}/{{spotId}}/media" method="POST">
    <input type="text" name="postedBy" placeholder="Name" value="">
    <input type="text" name="url" placeholder="URL" value="">
    <button class="btn" type="submit">Post</button>
</form>