<form action="/{{stateId}}/{{spotId}}?_method=PATCH" method="POST">
    <input type="text" name="name" placeholder="Name" value="">
    <input type="text" name="location" placeholder="Address" value="">
    <input type="text" name="description" placeholder="Description" value="">
    <button class="btn" type="submit">Edit</button>
</form>