<form action="/{{stateId}}/spots" method="POST">
    <input type="text" name="name" placeholder="Name" value="">
    <input type="text" name="location" placeholder="Address" value="">
    <input type="text" name="description" placeholder="Description" value="">
    <button type="submit">Post</button>
</form>